<div style="text-align:center">
  <h1>Formularz rejestracji</h1>  
  <form [formGroup]="registeringForm" (ngSubmit)="onSubmit()">
    <label>
      Login:
      <input type="text" formControlName="login" required>
    </label>
    <label>
      Password:
      <input type="email" formControlName="email">
    </label>
    <label>
      Password:
      <input type="password" formControlName="password" required>
    </label>
    <button type="submit" [disabled]="!registeringForm.valid">Submit</button>
  </form>
</div>