#group-main-page-wrapper {
  display: flex;
  height: 100%;
}

#group-main-page-right-menu {
  display: block;
  width: 40%;
  border-left: gray;
  border-left-width: 5px;
}

#posts-wrapper {
  width: auto;
}

.user-interface {
  width: 100vw;
  height: calc(100vh - 8rem);
  overflow: hidden;
}

#posts-wrapper {
  width: 60%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#posts-wrapper::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.news-posts__header {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 10px;
}

.group-main-page-right-menu__new-post,
.group-main-page-right-menu__files {
  height: 40%;
}