#group-main-page-wrapper {
  display: flex;
}

#group-main-page-right-menu {
  display: block;
  width: 40%;
  border-left: gray;
  border-left-width: 5px;
}

#posts-wrapper {
  width: auto;
}

.user-interface {
  width: 100vw;
  height: calc(100vh - 8rem);
  overflow: hidden;
}

#posts-wrapper {
  width: 60%;
  height: 100%;
  overflow-y: scroll;
}

.news-posts__header {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 10px;
}
