<div class="user-interface">
  <div id="group-main-page-wrapper">
    <app-navigation></app-navigation>
    <div id="posts-wrapper">
      <h1 class="news-posts__header">Najnowsze posty:</h1>
      <div *ngFor="let post of posts">
        <app-group-post
          [title]="post.title"
          [author]="post.author"
          [content]="post.content"
          [date]="post.date"
        ></app-group-post>
      </div>
    </div>
    <div id="group-main-page-right-menu">
      <app-new-group-post-form></app-new-group-post-form>
      <app-files-manager></app-files-manager>
    </div>
  </div>
</div>
