.group-add-button {
    font-size: 28px;
}

.search-bar-group {
    display: flex;
    align-items: center;
}

.search-bar__header {
    margin-top: 50px;
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.search-bar__input {
    width: calc(100% - 10px);
    border: 1px solid rgba(222, 222, 222, 0.4);
    margin: 5px 0;
    margin-left: 10px;
    padding: 10px 0;
}

.search-bar__list {
    padding: 0;
    margin-left: 10px;
}

.search-bar__item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid  rgba(222, 222, 222, 0.4);
}

.search-bar__link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar__item .group-add-button {
    font-size: 1rem;
    margin-left: 10px;
    width: auto;
    height: auto;
}