#material-header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
}

#material-header a{
    text-decoration: none;
}

#app-icon {
    font-size: 32px;
    display: flex;
    margin-left: 20px;
    width: auto;
    height: auto;
}

#login-button,
#register-button,
#user-login,
#active-group-name {
    margin-right: 20px;
}

.header-right-side-elements {
    display: flex;
    align-items: center;
}