<div class="login-website"></div>
<div style="text-align:center" class="log-in-container">
  <p class="log-in-container__title">Zaloguj się</p>
  <form [formGroup]="loggingForm" (ngSubmit)="onSubmit()" class="log-in-container__form">
      <label class="log-in-container__label"><mat-icon id="app-icon" class="log-in-container__icon">person</mat-icon><input type="text" formControlName="login" placeholder="Login" required class="log-in-container__input">
    </label>
    <label class="log-in-container__label">
      <mat-icon id="app-icon" class="log-in-container__icon">lock</mat-icon>
      <input type="password" placeholder="Hasło" formControlName="password" required class="log-in-container__input">
    </label>
    <button class="log-in-container__submit-button" type="submit" [disabled]="!loggingForm.valid" class="log-in-container__submit-button">Zaloguj</button>
  </form>
  <p *ngIf='errorMessage?.length > 0'>{{ errorMessage }}</p>
</div>
