.post-wrapper {
  border: 1px solid rgba(222, 222, 222, 0.4);
  padding: 20px;
  margin: 10px;
}

.post-comment-add {
  display: flex;
}

.post-wrapper__label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
  position: relative;
  margin-left: 10px;
}

.post-wrapper__label:before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 5px;
  height: 100%;
  background: #673ab7;
}

.post-wrapper__author {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  opacity: 0.8;
}

.post-wrapper__author .mat-icon {
  font-size: 0.9rem;
  width: auto;
  height: 100%;
  margin-right: 5px;
}

.post-wrapper__date {
  margin-left: 10px;
  display: flex;
}

.post-wrapper__calendar-icon {
  margin-left: 10px;
}

.post-wrapper__description {
  font-weight: 100;
  line-height: 1.5;
  margin-top: 20px;
}
