<div class="post-wrapper">
  <p class="post-wrapper__label">{{ postData.title }}</p>
  <p class="post-wrapper__author">
    <mat-icon>person</mat-icon> {{ postData.authorName }}
    <span class="post-wrapper__date"
      >|
      <mat-icon class="post-wrapper__calendar-icon">calendar_today</mat-icon>
      {{ postData.dateAdded | date:'medium' }}
    </span>
    <a *ngIf="postData.isAuthor" (click)="onPostDelete()"><mat-icon>delete_forever</mat-icon></a>
  </p>
  <p class="post-wrapper__description">{{ postData.content }}</p>
  <div class="post-comments-wrapper" *ngIf="postData.comments !== undefined && postData.comments !== null && postData.comments.length > 0">
    <div *ngFor="let comment of postData.comments">
      <p>{{ comment.authorName }}</p>
      <p>{{ comment.content }}</p>
      <p>{{ comment.dateAdded | date:'medium' }}</p>
      <a *ngIf="comment.isAuthor" (click)="onCommentDelete(comment.id)"><mat-icon>delete_forever</mat-icon></a>
    </div>
  </div>
  <div class="post-comment-add">
    <form [formGroup]="commentForm" (ngSubmit)="onCommentSubmit()">
      <input type="text" formControlName="content" required>
      <button type="submit" [disabled]="!commentForm.valid">
        <mat-icon>mail</mat-icon>
      </button>
    </form>
  </div>
</div>
