<div id="navigation-wrapper">
  <h1>Grupy:</h1>
  <div *ngFor="let group of mainPageDataService.userGroups">
    <button *ngIf="group.id === mainPageDataService.activeGroup" mat-raised-button id="active-group-button">{{ group.name }}</button>
    <button *ngIf="group.id !== mainPageDataService.activeGroup" mat-raised-button (click)="onGroupChange(group.id)">{{ group.name }}</button>
    <a (click)="leaveGroup(group.id)">
      <mat-icon>clear</mat-icon>
    </a>
  </div>
  <div id="create-group">
    <form [formGroup]="newGroupForm" (ngSubmit)="createGroup()">
      <label>
        Nazwa:
        <input type="text" formControlName="name" required>
      </label>
      <button type="submit" [disabled]="!newGroupForm.valid">Submit</button>
    </form>
  </div>
  <app-group-search-bar></app-group-search-bar>
</div>
